{% if order.info.region_fraction %}
**Region:** {{ order.info.region_fraction }}<br>
{% endif %}
{% if order.info.server %}
**Server:** {{ order.info.server }}<br>
{% endif %}
{% if order.info.character_class %}
**Class:** {{ order.info.character_class }}<br>
{% endif %}